body {
    background-color: #fffeeb;
}
h3{
    text-align: center;
    font-size: 22px;
}
#app {
    display: flex;
}

#app div {
    flex-grow: 1;
    background-color: #fff;
    margin: 5px;
    margin-top: 0px;
}

div#meals {
    margin-left: 0px;
    background-color: #d4adad;
    border-radius: 25px;
    padding: 16px;
    font-family: system-ui;
    width: 100%;
}
#meals ul li {
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 17px;
}

div#orders {
    margin-right: 0px;
    background-color: #acd4d4;
    border-radius: 25px;
    padding: 16px;
    font-family: monospace;
    width: 100%;
}
#orders ul li {
    margin: 3px 0;
    font-size: 16px;
}

ul {
    list-style-type: none;
}

button#submit {
    background-color: #256681;
    color: #fff;
    padding: 16px 32px;
    border: solid 0px;
    border-radius: 20px;
    margin: 15px;
    margin-left: 40px;
}
button#submit:hover{
    background-color: #2d7d9e;
}
/* #reset {
    background-color: #812525;
    color: #fff;
    padding: 10px 15px;
    border: solid 0px;
    border-radius: 25px;
    margin: 15px;
    margin-left: 40px;
}

#reset:disabled {
    background-color: rgb(114, 106, 106);
} */
button#submit:disabled {
    background-color: #ccc;
}

#meals-list li {
    cursor: pointer;
}
button#logout{
    background-color: #962525;
    color: #fff;
    padding: 4px 12px;
    border: solid 0px;
    border-radius: 20px;
    margin: 15px;
    position:absolute;
    width: 80px;
}
button#logout:hover{
    background-color: #791b1b;
    transition: 0.2s ease-in-out;
}
.selected {
    background-color: #eee;
    width: 90%;
    margin-left: 6px;
    padding-left: 6px;
    border-radius: 6px;
}

#app .form-main {
    max-width: 300px;
    margin: 0 auto;
    margin-top: 100px;
    padding: 25px;
    padding-bottom: 30px;
    border-radius: 25px;
}

.login-form p {
    margin-bottom: 5px;
    font-size: 14px;
}

form input {
    width: calc(100% - 6px);
    height: 24px;
    padding-left: 5px;
    background-color: #dedede;
    border: solid 0px;
    border-radius: 4px;
    color: #555;
}

button.btn {
    border: solid 0px;
    padding: 10px 15px;
    background-color: #2280cc;
    color: #fff;
    border-radius: 4px;
    margin-top: 15px;
    width: 100%;
}
button.btn:hover{
    background-color: #175e98;
    transition: 0.25s ease-in-out;
}
.form-tittle {
    text-align: center;
    font-size: 24px;
}